.wrapper-trigger {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  label {
    margin-right: 10px;
  }
}

.btn-trigger {
  flex-basis: 15%;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}
