#fldt-connection {
  display: flex;
  flex-direction: column;
  column-gap: 5px;

  & .wrapper {
    display: flex;

    &:first-of-type {
      margin-bottom: 20px;
    }

    & > * {
      flex-basis: 50%;
    }
  }
}

.btn-connect {
  text-transform: uppercase;
}
